logs/
__pycache__/
resources/archives/rawDumps/*
!resources/archives/rawDumps/.gitkeep
resources/archives/plots/*
!resources/archives/plots/.gitkeep
resources/archives/visualizations/*
!resources/archives/visualizations/.gitkeep
